* {
    margin: 0;
    padding: 0;
}

.page-container {
    background-color: gray;
    color: black;
}

.upper-header-container {
    display: flex;
    background-color: black;
}

.header-logo {
    overflow: visible !important;
    margin-bottom: -7rem;
    background-color: transparent;
    outline-style: none;
}

.header-slogan {
    font-weight: bold;
    font-style: none;
}

.header-navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: lime;
    padding:1rem;
}

.header-navigation a {
    flex: 0 1 auto;
    padding: 1rem;
}


.header-navigation a:hover {
    background-color: lime;
    color: gray;
}